body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/*CSS para o tema claro */
body.light-mode {
    background-color: #ffffff;
    color: #333333;
}

/*CSS para o tema escuro */
body.dark-mode {
    background-color: #333333;
    color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode .container {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}