<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Oficina Online</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Oficina Online</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/courses.html"> <span class="button">Serviços</span> </a>
        <a href="/contact.html"> <span class="button">Contatos</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/product.jpg" alt="" /></div>
      <div class="col-sm-6">
        <h1 class="title">Agende nossos serviços hoje mesmo!</h1>
        <h3>Nossos Serviços:</h3>
        <ul>
          <li>Motor e Embreagem</li>
          <li>Troca de Óleo</li>
          <li>Venda e Montagem de Pneus</li>
        </ul>
        <a href="/contact.html">Nos contate</a> hoje mesmo!
      </div>
    </div>
  </body>
</html>
